<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron text-center page-header">
        <h1 class="display-1"><b>Gozde Kitchen Store</b></h1>
        <p>Best quality in town</p>
      </div>
    </div>
  </div>
  <br />
  <div class="col-8 mx-auto">
    <div class="card bg-warning">
      <div class="card-header">
        <h5 class="text-center">Search products</h5>
      </div>
      <div class="card-body">
        <div class="form-group col-8 mx-auto my-auto">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="product"
            name="product"
            placeholder="Search for products..."
          />
        </div>
      </div>
      <div class="card-footer text-center">
        <button (click)="search(product)" class="btn btn-success btn-lg">
          Search
        </button>
      </div>
    </div>
  </div>
</div>
